/* Googlefont Poppins CDN Link */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}
.sidebar{
  position: fixed;
  height: 100%;
  width: 240px;
  background: #1871ffd4;
  transition: all 0.5s ease;
}
.sidebar.active{
  width: 60px;
}
.sidebar .logo-details{
  height: 80px;
  display: flex;
  align-items: center;
  
}
.sidebar .logo-details img{
  width: 35px;
  height: 35px;
  margin: 0px 13px 0px 12px;
  text-align: center
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}
.sidebar .nav-links{
  margin-top: 10px;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  height: 50px;
}
.sidebar .nav-links li a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li a.active{
  background: #51658c;
}

.sidebar .nav-links li a:hover{
  background: #4f5b72c7;
}
.sidebar .nav-links li i{
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.sidebar .nav-links li a .links_name{
  text-transform: capitalize;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}


.sidebar .nav-links .log_out{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.home-section{
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section{
  width: calc(100% - 60px);
  left: 60px;
}
.home-section nav{
  display: flex;
  justify-content: space-between;
  height: 70px;
  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section nav{
  left: 60px;
  width: calc(100% - 60px);
}
.home-section nav .sidebar-button{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

.home-section nav .sidebar-button .managers{
  font-size: 20px;
  font-weight: 600;
  color: #2697FF;
}
nav .sidebar-button i{
  cursor: pointer;
  font-size: 35px;
  margin-right: 10px;
  color: #2697FF;
}
.home-section nav .search-box{
  position: relative;
  height: 45px;
  max-width: 500px;
  width: 100%;
  margin: 0 20px;
}
nav .search-box input{
  height: 100%;
  width: 100%;
  outline: none;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}
nav .search-box .bx-search{
    position: absolute;
    height: 30px;
    width: 30px;
    background: #2697FF;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.4 ease;
}
.home-section nav .profile-details{
  display: flex;
  align-items: center;
  border-radius: 6px;
  height: 50px;
  padding: 0 15px 0 2px;
}


nav .profile-details img{
  height: 35px;
  width: 35px;
  object-fit: cover;
  border-radius: 50%;
}
nav .profile-details .admin_name{
    /* width: 100%; */
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #2697FF;
    margin: 0 10px;
    white-space: nowrap;
}
nav .profile-details i{
  font-size: 25px;
  color: #333;
}
.home-section .home-content{
  position: relative;
  padding-top: 90px;
}




/* left box */
.home-content .list-boxes .recent-list{
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  background: #fff;
  gap: 15px;
  padding: 20px 20px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}


.recent-list .btn-addUser{
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  background: #00e060;
  color: #fff;
  width: 130px;
  margin-right: 0;
  gap: 5px;
  cursor: pointer;
  border-radius: 2px;
  text-decoration: none;
}
.recent-list .btn-addUser:hover{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.btn-addUser i{
  font-size: 20px;
}

.btn-addUser span{
  font-size: 15px;
  font-weight: bold;
}



.list-boxes .box .title{
  font-size: 24px;
  font-weight: 500;
  /* margin-bottom: 10px; */
}

.recent-list .email-box{
  min-width: 300px;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.flex-row{
  display: flex;
  flex-direction: row;
}
.recent-list-head{
  justify-content: space-between;
  align-items: center;
}

.recent-list-table{
  font-family: Arial, sans-serif;
  font-size: 15px;
  text-align: center;
  align-items: center;
  gap: 15px;
  justify-content: space-around;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.table-head {
  background-color: #f5f5f5;
  font-weight: bold;
  padding: 15px 0;
  font-size: 15px;
  color: #626262;
  text-transform: capitalize;
}

.table-content {
  padding: 15px 0;
  font-size: 14px;
  color: #333;
}



.recent-list-table div{
  align-items: center;
}
.div-check{
  width: 80px;
  justify-content: center;
  gap: 5px;
  align-items: center;
}
.div-check input{
  transform: scale(1.3);
  cursor: pointer;
}

/* Form quản lý người dùng */
.recent-list-table .user-box{
  min-width: 350px;
  padding: 5px 0px;
  align-items: center;
  gap: 15px;
}
.user-box .user-avt{
  width: 40px;
  height: 40px;
}
.user-box .user-avt img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}


.user-box .user-info{
  align-items: flex-start;
}

.user-info .info-name{
  font-size: 15px;
  color: #333;
}
.user-info .info-email{
  font-size: 13px;
  color: #616161;
}


/* Form quản lý phòng chat  */
.home-content .list-boxes .recent-list-room{
  width: 90%;
  display: flex;
  flex-direction: column;
  background: #fff;
  gap: 15px;
  padding: 20px 20px;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.recent-list .btn-addRoom{
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  background: #00e060;
  color: #fff;
  width: 130px;
  margin-right: 0;
  gap: 5px;
  cursor: pointer;
  border-radius: 2px;
  text-decoration: none;
}
.recent-list .btn-addRoom:hover{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.btn-addRoom i{
  font-size: 20px;
}

.btn-addRoom span{
  font-size: 15px;
  font-weight: bold;
}

.recent-list-table {
  display: grid;
  grid-template-columns: 50px 2fr 1fr 1fr 1fr;
  align-items: center;
}

.table-head, .table-content {
  display: contents;
}
.recent-list-room .table-content{
  padding: 10px 0;
}

.recent-list-room .table-head > div, .recent-list-room .table-content > div {
  width: 15%;
  padding: 10px;
  box-sizing: border-box;
}

.recent-list-room .table-head .div-check, .recent-list-room .table-content .div-check {
  max-width: 20px;
  text-align: center;
}

.recent-list-room .table-head .room-box, .recent-list-room .table-content .room-box {
  min-width: 200px;
  display: flex;
  align-items: center;
}

.table-content .room-avt {
  margin-right: 10px;
}

.table-content .room-info {
  display: flex;
  flex-direction: column;
}

.box-functions {
  display: none;
  margin-top: 5px;
}

.modal-addRoom, .modal-updateRoom  {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Nền tối mờ */
  display: none; /* Ẩn modal khi chưa hiển thị */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Content */
.modal-addRoom-content, .modal-updateRoom-content  {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  width: 90%;
  animation: fadeInScale 0.3s ease-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Modal Header */
.modal-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-h-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.bx-x-circle {
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
  transition: color 0.3s ease;
}

.bx-x-circle:hover {
  color: red;
}

#addRoomForm .input-box {
  text-align: center;
}

#addRoomForm .button-box {
  text-align: center;
  margin-top: 20px;
}
#updateRoomForm .input-box {
  text-align: center;
}

#updateRoomForm .button-box {
  text-align: center;
  margin-top: 20px;
}
/* Fade-in Effect */
@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}



/*  */
.flex-row {
  display: flex;
  /* width: 100%; */
}



.user-box {
  width: 30%;
  display: flex;
  align-items: center;
}



.user-info {
  display: flex;
  flex-direction: column;
}
.room-box .room-avt{
  width: 40px;
  height: 40px;
}
.room-box .room-avt img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-verify{
  width: 12%;
}
 .user-role, .user-gender, .user-status, .admin-action {
  width: 10%;
  text-align: center;
}

.admin-action i {
  cursor: pointer;
  font-size: 18px;
}


 /* Ẩn menu mặc định */
 .action-menu {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  top: 100%;
  right: 0;
  min-width: 150px;
  border-radius: 4px;
  z-index: 999;
}

/* Định dạng cho các mục trong menu action*/
.action-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.action-menu li {
  border-bottom: 1px solid #ddd;
}

.action-menu li:last-child {
  border-bottom: none;
}

.action-menu a {
  display: block;
  padding: 12px;
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

.action-menu a:hover {
  background-color: #f5f5f5;
}


.action-menu li button{
  border: none;
  font-size: 14px;
  padding: 12px;
  background-color: #fff;
  cursor: pointer;
}


/* Căn chỉnh biểu tượng ba chấm */
.admin-action {
  position: relative;
  cursor: pointer;
}

.admin-action i {
  font-size: 24px;
  color: #333;
}

/* Add Users */
.box-form-add{
  margin: 40px;
  padding: 10px;
}
.form-addUser{
  margin: auto;
  width: 500px;
  padding: 30px 60px;
  background-color: #fff;
  gap: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-addUser .box-ip{
  gap: 5px;
  font-size: 16px;
}

.form-addUser .box-ip h3{
  font-size: 20px;
  font-weight: 600;
  color: #0083e1;
  margin-bottom: 20px;
  text-transform: capitalize;
  text-align: center;
}

.form-addUser .box-ip label{
  font-size: 16px;
  color: #333;
}


.form-addUser .box-ip .ip-add{
  width: 100%;
  height: 40px;
  padding: 0 15px;
  border-radius: 5px;
  border: 1px solid #525252;
  color: #525252;
  outline: none;
}

.form-addUser .box-btn{
  text-align: center;
}

.form-addUser .box-btn button{
  background-color: #009cff;
  color: #fff;
  font-weight: bold;
  border-radius: 6px;
  border: 1px solid #0083e1;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 15px;
}

/* Modal sendEmail resetPass */
.modal-sendEmail-resetPass {
  display: none; 
  position: fixed; /* Đặt modal cố định */
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-sendEmail-content {
  background-color: #fff;
  margin: 10% auto; 
  padding: 20px 30px;
  border: 1px solid #888;
  width: 45%; 
  max-width: 600px; 
  border-radius: 8px;
}

.modal-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.modal-h-title {
  margin: 0;
  font-size: 23px;
  text-transform: capitalize;
  color: #009cff;
}

.bx-x-circle {
  cursor: pointer;
  font-size: 24px;
  color: #009cff;
}

.modal-note{
  font-size: 16px;
  color: #444444;
  margin: 10px auto;
}

#resetPassForm .input-box{
  margin: 10px 0;
  text-align: center;
}
.input-box input:focus {
  outline: 1px solid #278fff; 
  border-color: #278fff; 
}
.input-box input{
  width: 80%;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  border: 2px solid #278fff;
  color: #0f668d;
}


#resetPassForm .button-box{
  text-align: center;
  margin: 30px 0 5px;
}

.button-box button{
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #009cff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

 /* Admin functions */

.box-functions{
  display: none;
  padding: 0 5px;
}

.box-functions .btn-box{
  margin: auto;
  padding: 10px 12px;
  gap: 10px;
  background: #ff4747;
  color: #fff;
  font-weight: bold;
  align-items: center;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

.box-functions .btn-box:hover{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.box-functions .btn-box i{
  font-size: 18px;
}


.box-functions .btn-box span{
  font-size: 13px;
}







/* Change Proflie */

.profiles{
  width: calc(100% - 240px);
  margin: auto;
  padding: 20px 25px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-head{
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}
.pf-h-box-info{
  align-items: center;
  gap: 25px;
}

.profile-head .pf-h-box-img{
  width: min-content;
  border-radius: 50%;
}

.pf-h-box-img img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
}


.pf-h-info{
  padding: 8px 0;
  height: 100%;
  /* gap: 10px; */
  justify-content: space-between;
}

.pf-h-info .h-name{
  font-size: 18px;
  font-weight: 600;
  color: #0063ac;
}

.pf-h-info .h-email{
  font-size: 12px;
  color: #717171;
  margin-left: 2px;
}
.pf-h-info .h-status{
  
  margin-left: 3px;
  font-size: 13px;
  font-weight: bold;
}

.pf-h-info .change-avt-btn{
  max-width: 140px;
  padding: 8px 12px;
  margin-left: 3px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #279eff;
  color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.change-avt-btn i{
  font-size: 18px;
}
.change-avt-btn span{
  font-weight: bold;
  text-transform: capitalize;
}

.pf-h-role{
  padding: 0 10px;
  gap: 10px;
  font-size: 15px;
  justify-content: center;
  align-items: baseline;

}
.pf-h-role span{
  height: min-content;
  font-weight: 600;
  color: #848484;
}
.pf-h-role .h-role{
  height: min-content;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  padding: 5px;
  background-color: #849fdb;
  border-radius: 5px;
}

.profile-content{
  padding: 0 80px;
  gap: 15px;
}
.frm-profile-edit{
  gap: 20px;
}
.pf-t-title{
  margin: 20px auto;
}

.pf-t-title h4{
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #0063ac;
}

.frm-box-info{
  justify-content: space-between;
}


.frm-info{
  gap: 10px;
}

.frm-info input{
  width: 290px;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #ccc;
}

.pf-t-gender{
  gap: 40px;
  align-items: center;
}
.pf-t-gender .box-gd {
  gap: 10px;
}
.pf-t-gender .box-gd input {
  cursor: pointer;
}

.box-role{
  align-items: center;
  gap: 20px;
  margin-left: 50px;
}

.box-role select{
  padding: 5px 20px;
  outline: none;
  cursor: pointer;
}

.pf-t-descriptions{
  gap: 10px;
}

.pf-t-descriptions textarea{
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
}


.box-function{
  margin: auto;
}
.box-function .btn-box{
  align-items: center;
  gap: 40px;
}

.btn-box .btn{
  max-width: 100px;
  justify-content: center;
  margin: 5px auto;
  padding: 8px 15px;
  font-weight: bold;
  background-color: #279eff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  gap: 5px;
}

.btn-box .btn-back{
  max-width: 140px;
  background-color: #ff4747;
  text-decoration: none;
}

.btn-box span{
  font-size: 15px;
}

.profiles input:focus, .profiles textarea:focus {
  outline: none;
  border: 2px solid #3498db; /* Thay đổi màu viền theo ý bạn */
}




/* Change Pass Form  */
.mainDiv {
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  font-family: 'Open Sans', sans-serif;
}
.cardStyle {
  width: 450px;
  border-color: white;
  background: #fff;
  padding: 30px 0 35px;
  border-radius: 4px;
  margin: 30px auto;
  box-shadow: 0px 0 2px 0 rgba(0,0,0,0.25);
}
#signupLogo {
max-height: 70px;
margin: auto;
display: flex;
flex-direction: column;
}
.formTitle{
font-weight: 600;
margin-top: 5px;
color: #2F2D3B;
text-align: center;
}
.inputLabel {
font-size: 14px;
color: #555;
margin-bottom: 6px;
margin-top: 15px;
}
.inputDiv {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: auto;
}


.inputDiv input {
height: 40px;
font-size: 16px;
border-radius: 4px;
border: none;
border: solid 1px #ccc;
padding: 0 11px;
}
input:disabled {
cursor: not-allowed;
border: solid 1px #eee; 
}

.inputDiv small{
  color: #ff0000;
  margin: 1px 5px;
}

.buttonWrapper {
margin-top: 25px;
}
.submitButton {
  width: 70%;
  height: 45px;
  margin: auto;
  display: block;
  color: #fff;
  background-color: #0078db;
  border-color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  text-transform: capitalize;
}
.submitButton:disabled,
button[disabled] {
border: 1px solid #cccccc;
background-color: #cccccc;
color: #666666;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Responsive Media Query */
@media (max-width: 1300px) {
  .profiles {
    width: calc(100% - 160px);
  }
}
@media (max-width: 1240px) {
  .sidebar{
    width: 60px;
  }
  .sidebar.active{
    width: 220px;
  }
  .home-section{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section{
    width: calc(100% - 220px);
    overflow: hidden;
    left: 220px;
  }
  .home-section nav{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section nav{
    width: calc(100% - 220px);
    left: 220px;
  }
  .profiles {
    width: calc(100% - 100px);
  }
  .profile-content{
    padding: 0 60px;
  }
  
  .frm-info input {
    width: 250px;
  }
  
}
@media (max-width: 1000px) {
  .profile-content{
    padding: 0 30px;
  }
  
  .frm-info input {
    width: 250px;
  }
  
}
@media (max-width: 800px) {
  .profile-content{
    padding: 0 30px;
  }
  
  .frm-info input {
    width: 210px;
  }
  
}

@media (max-width: 700px) {
  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i{
    display: none;
  }
  .home-section nav .profile-details{
    height: 50px;
    min-width: 40px;
  }
  
}
@media (max-width: 550px) {
  .sidebar.active ~ .home-section nav .profile-details{
    display: none;
  }
}
  @media (max-width: 400px) {
  .sidebar{
    width: 0;
  }
  .sidebar.active{
    width: 60px;
  }
  .home-section{
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section{
    left: 60px;
    width: calc(100% - 60px);
  }
  .home-section nav{
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section nav{
    left: 60px;
    width: calc(100% - 60px);
  }
}