@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.wrapper{
  flex-grow: 1;
  padding: 30px 70px;
  align-items: center;
  justify-content: space-around;
  background-color: #0f8fffeb;
}

.auth-form{
  position: relative;
  max-width: 400px;
  width: 100%;
  background: #fff;
  padding: 25px 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.auth-form h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
  text-transform: capitalize;
}
.auth-form h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: #4070f4;
}
.auth-form form{
  margin-top: 30px;
}

.input-box{
  height: 52px;
  margin: 18px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}


form .input-box .form-control{
  position: relative;
  height: 100%;
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  transition: all 0.3s ease;
}

.input-box i{
  position: absolute;
  right: 50px;
  font-size: 14px;
  color: #4070f4;
  margin: 0 2px 0 0;
  cursor: pointer;
}



.input-box input:focus,
.input-box input:valid{
  border-color: #4070f4;
}
form .policy{
  display: flex;
  align-items: center;
}
form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
}
.action-box{
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px 3px 10px;
  font-size: 14px;
}


.action-box div{
  gap: 10px;
}

.action-box div input{
  cursor: pointer;
}

.action-box div label{
  color: #2d2d2d;
}
.forgot-pass{
  color: #4070f4;
  font-size: 14px;
}

.button-box{
  height: 52px;
  border: none;
  margin: 10px 0 15px;
}

.button-box input{
  width: 100%;
  height: 100%;
  color: #fff;
  letter-spacing: 1px;
  background: #4070f4;
  cursor: pointer;
  text-align: center;
  border-radius: 6px;
  font-weight: bold;
  margin-top: 2px;
  font-size: 20px;
}




form .text h3{
 color: #333;
 width: 100%;
 text-align: center;
}
form .text h3 a{
  color: #4070f4;
  text-decoration: none;
}
form .text h3 a:hover{
  text-decoration: underline;
}



.auth-error{
  color: red; 
  /* display: none; */
  margin: 3px 0 0 3px;
}


.content-demo {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.content-demo img {
  width: 100%;
  height: auto;
  max-width: 620px;
  opacity: 0.9;
  border-radius: 10px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  transform: rotateY(-10deg) rotateX(0deg); 
}

.content-demo img:hover {
  transform: rotateY(0deg);
  box-shadow: 0px 12px 30px rgba(21, 21, 21, 0.5); 
}

/* Responsive cho màn hình nhỏ */
@media (max-width: 768px) {
  .wrapper {
      flex-direction: column;
      align-items: center;
  }

  .auth-form, .content-demo {
      width: 100%;
  }

  .content-demo img {
      max-width: 90%; /* Giảm kích thước hình ảnh trên màn hình nhỏ */
  }

  
}


.btn-login-ser{
  text-align: center;
  justify-content: space-between;
  align-items: center;
}
.btn-shared {
  width: 160px;
  font-weight: bold;
  margin-top: 10px;
  display: inline-flex;
  align-items: center;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  text-decoration: none;
}

.btn-shared:hover {
  transform: scale(1.05);
}

.btn-google {
  background-color: #d82800;
  padding: 12px 28px;
}

.btn-google:hover {
  background-color: #ff542a;
  
}

.btn-facebook {
  background-color: #1877f2;
  padding: 12px 22px;
}

.btn-facebook:hover {
  background-color: #448aff;
}

.btn-google:focus {
  outline: none;
  box-shadow: 0 0 0 2px #3182ce;
}

.custom-icon {
  font-size: 30px; /* Tăng kích thước biểu tượng */
  margin-right: 15px; /* Khoảng cách giữa biểu tượng và chữ */
}