#header{
    padding: 15px 70px;
    background-color: #0088ffeb;
}
.header{
    align-items: center;
    justify-content: space-between;
    color: #fff;
}



.header .logo-web{
    gap: 10px;
    align-items: center;
}
/* .header .logo-i{
    margin-top: 1px;
    font-size: 17px;
} */
.logo-web img{
    width: 25px;
    height: 25px;
}
.logo-web .logo-name{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.header .action-auth{
    gap: 15px;
    align-items: center;
}

.action-auth .link-auth{
    min-width: 90px;
    text-align: center;
    background-color: #ffffffdd;
    color: #0088ff;
    padding: 9px 10px;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    box-shadow: 1px 1px 9px 2px rgba(0, 0, 0, .08);
    border-radius: 3px;
    font-size: 14px;
}


.link-auth:hover{
    background-color: #fff;
    box-shadow: none;
}